/* universal selector*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; text-decoration: none;
    text-decoration-color:fff;
    color: black;
    

}

.container{
    padding: 5px;
    text-decoration: none;
    color: black;
    display: flex ;
    
    
}

.about {
    padding: 5px;
    

}

.store {
   padding: 5px; 
}

.gmail {
    margin-left: auto;
    padding: 5px;

}

.images{
    padding: 5px;
}

.grid{
    padding: 5px;

}

.profile{
    padding: 5px;
}

.center{
    width: 550px;
    height: 4%;
    padding: 5px;
    margin: auto;
    text-align: center;
    border-radius: 20px;

}

.footer{
    padding: 5px;
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 0;

    
}
  .right{
      padding: 5px;
      text-decoration: none;
      color: black;
      position: absolute;
      bottom: 0;
      right: 0;
  }
  .a{
      text-decoration: none;
      text-decoration-color:fff;
      color: black;
      
  }

